body {
	margin: 0;
	background-color: #000;
	color: #fff;

	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

.lil-gui {
	min-width: 250px;
	max-width: 300px;
  
	border: 1px solid #ccc;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.8);
  
	--text-color: #c0c0c0cc;
	--title-background-color: #000000cc;
	--title-text-color: #fff;
	--widget-color: #000000cc;
	--hover-color: #444;
  
	z-index: 9999;
  }
  
  .custom-lil-gui {
	position: absolute;
	top: 10px;
	right: 10px;
	min-width: 240px;
	max-width: 300px;
	display: block; /* important! ensures vertical stacking */
  }
  

  .lil-gui .title {
	background-color: var(--title-background-color) !important;
	color: var(--title-text-color) !important;
  }

  .lil-gui .controller {
	background-color: var(--widget-color) !important;
	color: var(--text-color) !important;
  }

  .lil-gui .controller:hover {
	background-color: var(--hover-color) !important;
  }

#airspace-info-box {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 230px;
	min-height: 180px;
	max-height: 680px;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px;
	font-family: monospace;
	font-size: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	z-index: 3;
	white-space: pre-wrap;
}

#airspace-info-box button {
	background: #222;
	color: white;
	border: 1px solid #666;
	padding: 2px 6px;
	cursor: pointer;
	font-size: 12px;
	line-height: 1;
	display: block;
	margin: 0 auto 6px auto;
}

#airspace-info-content {
	margin: 0;
	line-height: 1.4;
}

#airspace-info-box.collapsed #airspace-info-content {
	display: none;
}

#airspace-info-header {
	font-size: 11px;
	margin-bottom: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #444;
	color: #aaa;
	line-height: 1.4;
	text-align: left;
  }
  
  #airspace-info-header a {
	color: #6abfff;
	text-decoration: none;
	font-weight: bold;
  }
  
  #airspace-info-header a:hover {
	text-decoration: underline;
  }
  
  #svg-preview-box {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 200px;
	height: 200px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 3;
	padding: 4px;
	box-sizing: border-box;
}

#svg-preview {
	width: 100%;
	height: 100%;
	display: block;
}

#svg-preview-path {
	stroke: #6abfff;
	stroke-width: 1;
	fill: none;
}

#disclaimer {
	position: absolute;
	bottom: 35px;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 12px;
	font-family: sans-serif;
	pointer-events: none;
	z-index: 10;
}

#disclaimer a {
	color: white;
	text-decoration: underline;
	pointer-events: auto;
}


#licences {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 12px;
	font-family: sans-serif;
	pointer-events: none;
	z-index: 10;
}

#licences a {
	color: white;
	text-decoration: underline;
	pointer-events: auto;
}